{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row ">
        <div class="col-md-8">
            <h1>{{ object.title }}</h1>
            {% if object.productimage_set.count > 0 %}
                <div>
                    {% for img in object.productimage_set.all %}
                        <img class='img-responsive' src='{{ img.image.url }}' />
                    {% endfor %}
                </div>
            {% endif %}
            <div class="lead">{{ object.description }}</div>
        </div>

        <div class="col-md-4">
            <h3>{{ object.price }}</h3>
            {% if object.variation_set.count > 1 %}
                <select class="form-control">
                    {% for var in object.variation_set.all %}

                        <option value="{{ var.id }}">{{ var }} </option>
                    {% endfor %}

                </select>

            {% endif %}
            <br />
            <a>Add to Cart</a>
            <hr />
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                <i class="fa fa-facebook-square fa-3x"></i></a>

            <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}">
                <i class="fa fa-twitter-square fa-3x"></i></a>

            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}">
                <i class="fa fa-google-plus-square fa-3x"></i></a>

  
            <hr />
            <h4>Related products</h4>
        </div>
    </div>


{% endblock %}