{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="POST" action=""> {% csrf_token %}

        {{ formset.management_form }}

        {% for form in formset %}

            {{ form.instance.product.title }}
            {{ form.instance.title }}
            {{ form.as_p }}

        {% endfor %}
        <input type="submit" value='Update' class='btn' />
    </form>
{% endblock %}
